body, html { margin: 0; padding: 0; }

body { 
    font-family: sans-serif; 
    color: black; 
    background: white; 
    text-align: center
    vertical-align: middle
    }
a { color: black; }
a:hover { color: red; }

